*{
    margin: 0;
    padding: 0;
    
}
body{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgba(51, 0, 255, 0.878);
    height: 90px;
    width: 100%;
}

.navbar{
    
    height: 30px;
    width: 100%;
    background-color: springgreen;
    
}
.navbar-container{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
    
}
.Home, .latest-job, .admit-card, .result, .University, .Sarkari-Yojana, .Scholarship{
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    color: greenyellow;
}
.Home:hover, .latest-job:hover, .admit-card:hover, .result:hover, .University:hover, .Sarkari-Yojana:hover, .Scholarship:hover{
    background-color: rgb(255, 60, 0);
    color: white;
    transition: 0.3s;
}
.boxcontainer,.boxcontainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
}
h2{
    text-align: center;
    padding: 10px;
    color: blue;
    text-decoration: underline;
    
}

.box{
    height: 650px;
    width: 350px;
    background-color: aqua;
    border: 2px solid black;
    margin: 10px auto;
    margin-left: 50px;
}

.box1{
    height: 650px;
    width: 350px;
    background-color: aqua;
    border: 2px solid black;
    margin: 50px auto;
    margin-left: 50px;
    
}
.box2{
    height: 650px;
    width: 350px;
    background-color: aqua;
    border: 2px solid black;
    margin: 10px auto;
    margin-left: 50px;
}
.box3{
     height: 650px;
    width: 350px;
    background-color: aqua;
    border: 2px solid black;
    margin: 10px auto;
    margin-left: 50px;
}
 .box4{
     height: 650px;
    width: 350px;
    background-color: aqua;
    border: 2px solid black;
    margin: 10px auto;
    margin-left: 50px;
 }
    .box5{
        height: 650px;
        width: 350px;
        background-color: aqua;
        border: 2px solid black;
        margin: 10px auto;
        margin-left: 50px;
    }
    h3{
        color: red;
        text-shadow: 5px 5px 5px yellow;
        display: flex;
        align-items: center;
        text-align: justify;
        margin-left: 10px;
    }
p{
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: justify;
    padding: 10px;
    line-height: 1.6;
    color: red;
    
}
h1{
    color: black;
    margin-left: 20px;
}
h5{
    color: green;
    margin-left: 20px;
    line-height: 1.6;
}
h4{
    margin-left: 30px;
}
.footer{
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.274);
    margin-top: 50px;
}
.footer a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    margin: 20px;

    
}
.p{
    display: flex;
    justify-content: right;
    align-items: left;
    margin-right: 70px;
}